body {
  font-family: "Poppins", sans-serif;
}

.dashboard-color-fixed {
  background-color: #e5e5e5 !important;
}

.page-content {
  margin-top: 110px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;
  p {
    color: #979797;
  }
}

.form-control {
  color: #666666;
}
