.card {
  margin-top: 43px;
  background: #fefefe;
  box-shadow: 0px 4px 15px #f1f1f8;
  border-radius: 8px;
  text-decoration: none !important;

  .dashboard-card-title {
    font-weight: normal;
    font-size: 16px;
    color: #c5c5c5;
  }
  .dashboard-card-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #0c0d36;
  }
}
