.card-list {
  margin-bottom: 10px;
  .card-body {
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #0c0d36;
    img {
      @include media-breakpoint-down(md) {
        max-width: 100px !important;
      }
    }
    .img-list {
      width: 70px !important;
    }
  }
}
